<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>トップページ</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta property="og:title" content="トップページ">
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="トップページ">
  <meta property="og:keywords" content="">
  <meta property="og:description" content="">
  <link rel="icon" href="../assets/img/favicon-48x48.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-180x180.png">
  <link rel="canonical" href="">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
  <!-- <script src="../assets/js/jquery-3.5.1.min.js"></script> -->
  <script src="../assets/js/app.js"></script>
  <script src="../assets/js/practice.js"></script>
 
</head>
<body>
  <script>symbol();</script>
  <script>header();</script>
  <div class="wrapper">
    <section class="c-container-fluid">
      <h1>H1タイトル</h1>
      <h2>H2タイトル</h2>
      <h3>H3タイトル</h3>
      <h4>H4タイトル</h4>
      <h5>H5タイトル</h5>
      <h6>H6タイトル</h6>
      <dl class="p-accordion">
        <dt class="p-accordion-header">アコーディオンヘッダ</dt>
        <dd class="p-accordion-body">
          <p>アコーディオンボディ</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex harum recusandae ad, doloremque maiores eveniet cum amet, dolor soluta earum laborum mollitia repudiandae impedit similique! Incidunt pariatur soluta autem quisquam.</p>
        </dd>
      </dl>
      <details open>
        <summary>ラーメン</summary>
        <p>ラーメンとは、中華麺とスープを主とし、様々な具を組み合わせた麺料理。漢字表記は拉麺、老麺または柳麺。別名は中華そばおよび支那そば、南京そばなどである。中華人民共和国や中華民国では日式拉麺または日本拉麺と呼ばれる。</p>
      </details>
    </section>
    <section class="c-container">
      <h2>H2タイトル</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex harum recusandae ad, doloremque maiores eveniet cum amet, dolor soluta earum laborum mollitia repudiandae impedit similique! Incidunt pariatur soluta autem quisquam.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex harum recusandae ad, doloremque maiores eveniet cum amet, dolor soluta earum laborum mollitia repudiandae impedit similique! Incidunt pariatur soluta autem quisquam.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex harum recusandae ad, doloremque maiores eveniet cum amet, dolor soluta earum laborum mollitia repudiandae impedit similique! Incidunt pariatur soluta autem quisquam.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex harum recusandae ad, doloremque maiores eveniet cum amet, dolor soluta earum laborum mollitia repudiandae impedit similique! Incidunt pariatur soluta autem quisquam.</p>
    </section>
    <section class="c-container">
      <section>
        <button type="button" class="c-btn">ボタン</button>
        <button type="button" class="c-btn-primary">PRIMARY</button>
        <button type="button" class="c-btn-secondary">SECONDARY</button>
        <button type="button" class="c-btn-thirdly">THIRDLY</button>
        <button type="button" class="c-btn-disable">DISABLE</button>
        <button type="button" class="c-btn-alert">ALERT</button>
      </section>
      <section>
        <button type="button" class="c-btn c-btn-sm">小ボタン</button>
        <button type="button" class="c-btn-primary c-btn-sm">PRIMARY</button>
        <button type="button" class="c-btn-secondary c-btn-sm">SECONDARY</button>
        <button type="button" class="c-btn-thirdly c-btn-sm">THIRDLY</button>
        <button type="button" class="c-btn-disable c-btn-sm">DISABLE</button>
        <button type="button" class="c-btn-alert c-btn-sm">ALERT</button>
      </section>
      <section>
        <button type="button" class="c-btn c-btn-lg">大ボタン</button>
        <button type="button" class="c-btn-primary c-btn-lg">PRIMARY</button>
        <button type="button" class="c-btn-secondary c-btn-lg">SECONDARY</button>
        <button type="button" class="c-btn-thirdly c-btn-lg">THIRDLY</button>
        <button type="button" class="c-btn-disable c-btn-lg">DISABLE</button>
        <button type="button" class="c-btn-alert c-btn-lg">ALERT</button>
      </section>
      <section>
        <button type="button" class="c-btn c-btn-xl">特大ボタン</button>
        <button type="button" class="c-btn-primary c-btn-xl">PRIMARY</button>
        <button type="button" class="c-btn-secondary c-btn-xl">SECONDARY</button>
        <button type="button" class="c-btn-thirdly c-btn-xl">THIRDLY</button>
        <button type="button" class="c-btn-disable c-btn-xl">DISABLE</button>
        <button type="button" class="c-btn-alert c-btn-xl">ALERT</button>
      </section>
    </section>
    <section class="c-container">
      <svg width="34" height="24" fill="#f00"><use href="#ico-youtube"></use></svg>
      <svg width="24" height="24"><use href="#ico-blank"></use></svg>
      <svg width="27" height="28"><use href="#ico-arrow-right"></use></svg>
      <svg width="38" height="38"><use href="#ico-close"></use></svg>
    </section>
  </div>
  <section class="c-container">
    <button id="btn">ボタン</button>
    <div class="animate-title">
      PLAY ANIMATION
    </div>
    <div class="animate-title-2">
      ANIMATE STRING
    </div>
    <div class="animate-title-3">
      ANIMATE STRING 2
    </div>
    <button type="button" id="btn2">
      ANIMATE STRING 2
    </button>
  </section>
  <script src="../assets/js/practice2.js"></script>
  <script>footer();</script>
</body>

</html>